In [1]:
import pandas as pd
from bs4 import BeautifulSoup
import urllib
from collections import OrderedDict
from math import ceil, floor
from operator import itemgetter

## Scrape Wikipedia Page

Yes, I could have also scraped the number of electors per state from the election pages. I decided to type them in, instead.

In [2]:
# list of state abbreviations
states = ['AL','AK','AZ','AR','CA','CO','CT','DC','DE','FL',
          'GA','HI','ID','IL','IN','IA','KS','KY','LA','ME',
          'MD','MA','MI','MN','MS','MO','MT','NE','NV','NH',
          'NJ','NM','NY','NC','ND','OH','OK','OR','PA','RI',
          'SC','SD','TN','TX','UT','VT','VA','WA','WV','WI','WY', 'US']

def append_sum(ec):
    ec.append(sum(ec))

ec_votes_2000=[9,  3,  8,  6,  54, 8,  8,  3,  3,  25,
          13, 4,  4,  22, 12, 7,  6,  8,  9,  4,
          10, 12, 18, 10, 7,  11, 3,  5,  4,  4,
          15, 5,  33, 14, 3,  21, 8,  7,  23, 4,
          8,  3,  11, 32, 5,  3,  13, 11, 5,  11, 3]
append_sum(ec_votes_2000)
ec_votes_2004=[9,  3,  10, 6,  55, 9,  7,  3,  3,  27,
               15, 4,  4,  21, 11, 7,  6,  8,  9,  4,
               10, 12, 17, 10, 6,  11, 3,  5,  5,  4,
               15, 5,  31, 15, 3,  20, 7,  7,  21, 4,
               8,  3,  11, 34, 5,  3,  13, 11, 5,  10, 3]
append_sum(ec_votes_2004)
ec_votes_2012=[9,  3,  11, 6,  55, 9,  7,  3,  3,  29,
          16, 4,  4,  20, 11, 6,  6,  8,  8,  4,
          10, 11, 16, 10, 6,  10, 3,  5,  6,  4,
          14, 5,  29, 15, 3,  18, 7,  7,  20, 4,
          9,  3,  11, 38, 6,  3,  13, 12, 5,  10, 3]
append_sum(ec_votes_2012)
ec_votes = list(zip(ec_votes_2000, ec_votes_2004, ec_votes_2012))
ec_votes_dict = OrderedDict()
for i in range(len(states)):
    ec_votes_dict[states[i]] = ec_votes[i]
ec_votes = pd.DataFrame.from_dict(ec_votes_dict, orient='index')
ec_votes.rename(columns={0: '2000', 1: '2004', 2: '2012'}, inplace=True)
ec_votes['2016']=ec_votes['2012']
ec_votes['2008']=ec_votes['2004']
ec_votes = ec_votes.sort_index(axis=1)

In [3]:
ec_votes.tail()

    2000  2004  2008  2012  2016
WA    11    11    11    12    12
WV     5     5     5     5     5
WI    11    10    10    10    10
WY     3     3     3     3     3
US   538   538   538   538   538

In [4]:
def get_headings(head_row, num_candidates):
    """
    Parse the table header row for the candidate names.
    head_row - the header row element containing cells with the candidate names
    num_candidates - the number of candidate columns in the "Results_by_state" table, including "Other"
    returns: list of length num_candidates with the candidate names
    """
    headings = []
    for cell in head_row.find_all('th', attrs={'colspan': '3'}):
        children = list(cell.children)
        if len(children) == 3:
            headings.append((children[0].strip(), children[2].strip()))
        else:
            headings.append((children[0], None))
    headings = headings[:num_candidates]
    headings.append(('Total', None))
    return headings

In [5]:
def get_table_rows(year, num_candidates):
    """
    Scrape the U.S. Presidential election Wikipedia page for the results by state. header rows of the 

    year - string containing 4-digit election year
    num_candidates - the number of candidate columns in the "Results_by_state" table, including "Other"
    returns: a tuple; first element is a list of length num_candidates with the candidate names; second
             element is a list of the table row elements needing to be parsed for the vote counts
    """
    page = BeautifulSoup(urllib.request.urlopen(
            'https://en.wikipedia.org/wiki/United_States_presidential_election,_'+year).read(), "html.parser")
    header = page.find('span', id='Results_by_state').parent
    table_container = header.find_next_sibling('div')
    table = table_container.table
    if table is None:
        table_container = table_container.find_next_sibling('div')
        table = table_container.table
    head_row = table.find('tr')
    all_rows = list(table.find_all('tr'))
    vote_rows = all_rows[2:]
    return get_headings(head_row, num_candidates), vote_rows

In [6]:
def clean_and_convert(count_text):
    """
    Clean up vote count text, and return an actual number.
    count_text - the text from a vote count table cell
    returns: int representing number of votes (N/A or blank imply zero)
    """
    clean = count_text.strip().replace(',','').replace('.', '').replace('-','0').replace(
                'N/A', '0').replace('★', '').replace('–', '')
    return int(clean) if len(clean) else 0

In [7]:
def read_in_data(year, num_candidates, total_column):
    """
    Scrape the U.S. Presidential election Wikipedia for the given year. Requires a couple of numbers describing the
    shape of the table.

    year - string containing 4-digit election year
    num_candidates - the number of candidate columns in the "Results_by_state" table, including "Other"
    total_column - the column number that contains the total votes for each state/district, counting from zero
    returns: a Pandas DataFrame, indexed by state/district, with columns for each candidate, total vote, and
             state total electoral college votes
    """
    headings, vote_rows = get_table_rows(year, num_candidates)
    data = OrderedDict()
    columns_with_vote_counts = list(range(2, 3*num_candidates, 3))
    columns_with_vote_counts.append(total_column)
    abbr_column = total_column + 1
    vote_rows = list(zip(vote_rows, ['td'] * len(vote_rows)))
    vote_rows[-1] = (vote_rows[-1][0], 'th') # last row uses <th> instead of <td>
    for row, cell_type in vote_rows:
        cells = list(row.find_all(cell_type))
        abbr = cells[abbr_column].string.strip()
        if len(abbr)==2 or len(abbr)==6:
            abbr = abbr[:2]
            data[abbr] = [clean_and_convert(cells[i].text) for i in columns_with_vote_counts]
    abbreviations  = []
    for h in headings:
        abbreviations.append(''.join([s[0] for s in h[0].split()]))
    vote_data = pd.DataFrame.from_dict(data, orient='index')
    vote_data.columns=abbreviations
    vote_data['E'] = ec_votes[year]
    return vote_data

In [8]:
vote_data_2000 = read_in_data('2000', 8, 28)
vote_data_2000.tail()

,GWB,AG,RN,PB,HB,HP,JH,O,T,E
WA,1108864,1247652,103002,7171,13135,1989,2927,2693,2487433,11
WV,336475,295497,10680,3169,1912,23,367,1,648124,5
WI,1237279,1242987,94070,11471,6640,2042,853,3265,2598607,11
WY,147947,60481,4625,2724,1443,720,411,0,218351,3
US,50456002,50999897,2882955,448895,384431,98020,83714,51186,105405100,538

In [9]:
vote_data_2004 = read_in_data('2004', 7, 25)
vote_data_2004.tail()

         GWB        JK      RN      MB      MP      DC      O          T    E
WA   1304894   1510201   23283   11955    3922    2974   1855    2859084   11
WV    423778    326541    4063    1405      82       5     13     755887    5
WI   1478120   1489504   16390    6464       0    2661   3868    2997007   10
WY    167629     70776    2741    1171     631       0    480     243428    3
US  62040610  59028444  465151  397265  143630  119859  99887  122294846  538

In [10]:
vote_data_2008 = read_in_data('2008', 7, 25)
vote_data_2008.tail()

          BO        JM      RN      BB      CB      CM       O          T    E
WA   1750848   1229216   29489   12728    9432    3819    1346    3036878   11
WV    303857    397466    7219       0    2465    2355      89     713451    5
WI   1677211   1262393   17605    8858    5072    4216    8062    2983417   10
WY     82868    164958    2525    1594    1192       0    1521     254658    3
US  69498516  59948323  739034  523715  199750  161797  242685  131313820  538

In [11]:
vote_data_2012 = read_in_data('2012', 5, 19)
vote_data_2012.tail()

          BO        MR       GJ      JS       O          T    E
WA   1755396   1290670    42202   20928   16320    3125516   12
WV    238269    417655     6302    4406    3806     670438    5
WI   1620985   1407966    20439    7665   11379    3068434   10
WY     69286    170962     5326       0    3487     249061    3
US  65915795  60933504  1275971  469627  490512  129085409  538

In [12]:
vote_data_2016 = read_in_data('2016', 6, 20)
vote_data_2016.tail()

          HC        DT       GJ       JS      EM        O          T    E
WA   1742718   1221747   160879    58417       0    25453    3209214   12
WV    188794    489371    23004     8075       0     3807     713051    5
WI   1382536   1405284   106674    31072   11855    38729    2976150   10
WY     55973    174419    13287     2515       0     9655     255849    3
US  65853625  62985105  4489233  1457222  728860  1579672  137098443  538

## Export data

In [13]:
def export_data(year, df):
    filename = 'state-vote-data-{}.csv'.format(year)
    df.to_csv(filename, sep=',')
    
export_data('2000', vote_data_2000)
export_data('2004', vote_data_2000)
export_data('2008', vote_data_2000)
export_data('2012', vote_data_2012)
export_data('2016', vote_data_2016)

In [14]:
def partial_result_from_dict(data, category):
    """
    Prepare part of the final result from the given data, adding a category column to the index.
    data - a dict-like object mapping states/districts to counts with the partial result, 
           e.g., {'state abbr': int_count, ... }
    category - a string labelling the type of data, which is placed in a MultiIndex
    """
    result = pd.DataFrame.from_dict(data, orient='index')
    result.index.name = 'State'
    result['Category'] = category
    result.set_index('Category', append=True, inplace=True)
    return result

In [15]:
def calculate_fair_efficient_ec_votes(df):
    """
    Compute a DataFrame representing fair and efficient allocation of Electoral College votes, and the
    number of wasted popular votes if fair and efficient allocation is used.

    df - a Pandas DataFrame, indexed by state/district, with columns for each candidate, total vote, and
         state total electoral college votes
    returns: a DataFrame multi-indexed by state/district and data category with candidate columns; data category = 'EC'
             gives Electoral College allocations ; data category = 'Wasted' gives wasted popular votes, i.e., votes that
             didn't end up counting towards an Elector
    """
    ec_votes = OrderedDict()
    wasted = OrderedDict()
    for i in range(51):
        st = df.iloc[i]
        c = OrderedDict(st.loc[:'O'])
        e = OrderedDict()
        r = {}
        E = st.loc['E']
        V = st.loc['T']
        if V == 0:
            V = sum(list(st)[:6])
        for candidate, pop_votes in c.items():
            e[candidate] = floor(E * pop_votes / V)
            r[candidate] = ceil(pop_votes - V * e[candidate] / E)
        r = OrderedDict(sorted(r.items(), key=itemgetter(1), reverse=True))
        remainder = E - sum(e.values())
        for candidate in r.keys():
            if candidate != 'O': # not mappable to a single candidate
                e[candidate] += 1
                remainder -= 1
                r[candidate] = 0
                if remainder == 0:
                    break
        ec_votes[st.name] = e
        wasted[st.name] = r
    ec_votes = partial_result_from_dict(ec_votes, 'EC')
    wasted = partial_result_from_dict(wasted, 'Wasted')
    result = pd.concat([ec_votes, wasted])
    result.sort_index(level=['State', 'Category'], inplace=True)
    return result

In [16]:
def print_fair_ec_vote_summary(year, df, show_state_data=False):
    """
    Print a useful summary of the calculations. By default, suppresses outputing the full dataset.

    year - string containing 4-digit election year
    df - a Pandas DataFrame, indexed by state/district, with columns for each candidate, total vote, and
         state total electoral college votes
    show_state_data - whether to show the full computed results by state/district; defaults to False
    """
    pd.options.display.max_rows = 102
    print(year)
    print('====')
    result = calculate_fair_efficient_ec_votes(df)
    if show_state_data:
        print('Results by State:')
        print(result)
        print()
    ecsum = result.loc[(slice(None), ['EC']),:].sum()
    print('Electoral College Tally:\n{}\nTotal:{}\n'.format(ecsum, ecsum.sum()))
    wsum = result.loc[(slice(None), ['Wasted']),:].sum()
    print('Wasted popular votes:\n{}\nTotal: {}'.format(wsum, wsum.sum()))
    print('')
    print()

In [17]:
print_fair_ec_vote_summary('2000', vote_data_2000, show_state_data=True)

2000
====
Results by State:
                   AG     GWB     HB     HP     JH     O     PB      RN
State Category
AK    EC            1       2      0      0      0     0      0       0
      Wasted        0       0   2636    596    919  1068   5192   28747
AL    EC            4       5      0      0      0     0      0       0
      Wasted        0   15467   5893    775    447   699   6351   18323
AR    EC            3       3      0      0      0     0      0       0
      Wasted        0   12050   2781   1415   1098     0   7358   13421
AZ    EC            4       4      0      0      0     0      0       0
      Wasted        0   15644      0    110   1120  5775  12373   45645
CA    EC           29      23      0      0      0     0      0       2
      Wasted        0       0  45520  17042  10934    34  44987   12565
CO    EC            3       4      0      0      0     0      0       1
      Wasted    85214   13064  12799   1319   2240  1136  10465       0
CT    EC            5       3      0      0      0     0      0       0
      Wasted        0   13773   3484   9695     40    14   4731   64452
DC    EC            3       0      0      0      0     0      0       0
      Wasted        0   18073    669      0      0   653      0   10576
DE    EC            2       1      0      0      0     0      0       0
      Wasted        0   28081    774    208    107    93    777    8307
FL    EC           12      12      0      0      0     0      0       1
      Wasted    49961   50498  16415   1371   2281  3028  17484       0
GA    EC            6       7      0      0      0     0      0       0
      Wasted        0   21441  36332    140      0    24  10926   13432
HI    EC            2       2      0      0      0     0      0       0
      Wasted    21311       0   1477    343    306     0   1071   21623
IA    EC            4       3      0      0      0     0      0       0
      Wasted        0   70561   3209    613   2281  1465   5731   29374
ID    EC            1       3      0      0      0     0      0       0
      Wasted    13232       0   3488   1469   1177     6   7615   12292
IL    EC           12       9      0      0      0     0      0       1
      Wasted     2414   79462  11623     57   2127     4  16106       0
IN    EC            5       7      0      0      0     0      0       0
      Wasted        0       0  15530    200    167    99  16959   18531
KS    EC            2       4      0      0      0     0      0       0
      Wasted    41870       0   4525   1254   1375     0   7370   36086
KY    EC            3       5      0      0      0     0      0       0
      Wasted    59828       0   2896    923   1533    80   4173   23192
LA    EC            4       5      0      0      0     0      0       0
      Wasted     7608       0   2951   5483   1075  1103  14356   20473
MA    EC            7       4      0      0      0     0      0       1
      Wasted    39747       0  16366      0   2884  4032  11149       0
MD    EC            6       4      0      0      0     0      0       0
      Wasted        0    3605   5310    919    176  1480   4248   53768
ME    EC            2       2      0      0      0     0      0       0
      Wasted        0       0   3074    579      0    27   4443   37127
MI    EC            9       8      0      0      0     0      0       1
      Wasted    54168   72028  16711   3791   2426     0   1851       0
MN    EC            5       5      0      0      0     0      0       0
      Wasted        0       0   5282   3272   2294  1050  22166  126696
MO    EC            5       6      0      0      0     0      0       0
      Wasted    38460       0   7436   1957   1104     0   9818   38515
MS    EC            3       4      0      0      0     0      0       0
      Wasted        0    4739   2009   3267    450   613   2265    8122
MT    EC            1       2      0      0      0     0      0       0
      Wasted      127       0   1718   1155    675    11   5697   24437
NC    EC            6       8      0      0      0     0      0       0
      Wasted    10009       0  12307      0      0  1226   8874       0
ND    EC            1       2      0      0      0     0      0       0
      Wasted        0       0    660    373    313     0   7288    9486
NE    EC            2       3      0      0      0     0      0       0
      Wasted        0   15651   2245    468    478     0   3646   24540
NH    EC            2       2      0      0      0     0      0       0
      Wasted        0       0   2757    328     55  1221   2615   22198
NJ    EC            8       6      0      0      0     0      0       1
      Wasted    88997    9283   6312   1409   2215  2724   6989       0
NM    EC            3       2      0      0      0     0      0       0
      Wasted        0   46975   2058    343    361     0   1392   21251
NV    EC            2       2      0      0      0     0      0       0
      Wasted        0       0   3311    621    415  3315   4747   15008
NY    EC           20      12      0      0      0     0      0       1
      Wasted        0       0   7649   1498  24361  1791  31599   37303
OH    EC           10      10      0      0      0     0      0       1
      Wasted        0  110516  13475   3823   6169    10  26724       0
OK    EC            3       5      0      0      0     0      0       0
      Wasted    11441       0   6602      0      0     0   9014       0
OR    EC            3       3      0      0      0     0      0       1
      Wasted    62928   56163   7447   2189   2574  3419   7063       0
PA    EC           12      11      0      0      0     0      0       0
      Wasted        0       0  11248  14428      0   934  16023  103392
RI    EC            3       1      0      0      0     0      0       0
      Wasted        0   28277    742     97    271   614   2273   25052
SC    EC            3       5      0      0      0     0      0       0
      Wasted    47043       0   4876   1682    942     0   3519   20200
SD    EC            1       2      0      0      0     0      0       0
      Wasted    13381       0   1662   1781      0     0   3322       0
TN    EC            5       6      0      0      0     0      0       0
      Wasted    38002       0   4284   1015    613  2569   4250   19781
TX    EC           12      19      0      0      0     0      0       1
      Wasted    30883       0  23160    567      0   137  12394       0
UT    EC            1       4      0      0      0     0      0       0
      Wasted    48903       0   3616   2709    763   348   9319   35850
VA    EC            6       7      0      0      0     0      0       0
      Wasted        0       0  15198   1809    171  2636   5455   59398
VT    EC            2       1      0      0      0     0      0       0
      Wasted        0   21673    784    153    219  1789   2192   20374
WA    EC            6       5      0      0      0     0      0       0
      Wasted        0       0  13135   1989   2927  2693   7171  103002
WI    EC            5       5      0      0      0     0      0       1
      Wasted    61802   56094   6640   2042    853  3265  11471       0
WV    EC            2       3      0      0      0     0      0       0
      Wasted    36248       0   1912     23    367     1   3169   10680
WY    EC            1       2      0      0      0     0      0       0
      Wasted        0    2380   1443    720    411     0   2724    4625

Electoral College Tally:
AG     262
GWB    263
HB       0
HP       0
JH       0
O        0
PB       0
RN      13
dtype: int64
Total:538

Wasted popular votes:
AG      863577
GWB     765498
HB      384431
HP       98020
JH       83714
O        51186
PB      448895
RN     1197844
dtype: int64
Total: 3893165

In [18]:
print_fair_ec_vote_summary('2004', vote_data_2004)

2004
====
Electoral College Tally:
DC       0
GWB    280
JK     258
MB       0
MP       0
O        0
RN       0
dtype: int64
Total:538

Wasted popular votes:
DC      119859
GWB     858574
JK     1175528
MB      397265
MP      143630
O        99887
RN      465151
dtype: int64
Total: 3259894

In [19]:
print_fair_ec_vote_summary('2008', vote_data_2008)

2008
====
Electoral College Tally:
BB      0
BO    289
CB      0
CM      0
JM    248
O       0
RN      1
dtype: int64
Total:538

Wasted popular votes:
BB     523715
BO     979528
CB     199750
CM     161797
JM    1473774
O      242685
RN     630653
dtype: int64
Total: 4211902

In [20]:
print_fair_ec_vote_summary('2012', vote_data_2012)

2012
====
Electoral College Tally:
BO    276
GJ      1
JS      0
MR    261
O       0
dtype: int64
Total:538

Wasted popular votes:
BO    1044675
GJ    1132750
JS     469627
MR     906515
O      490512
dtype: int64
Total: 4044079

In [21]:
print_fair_ec_vote_summary('2016', vote_data_2016, show_state_data=True)

2016
====
Results by State:
                   DT     EM      GJ      HC      JS       O
State Category
AK    EC            2      0       0       1       0       0
      Wasted        0      0   18725   10252    5735   14307
AL    EC            6      0       0       3       0       0
      Wasted        0      0   44467   21757    9391   21712
AR    EC            4      0       0       2       0       0
      Wasted        0  13255   29829    3616    9473   12712
AZ    EC            5      0       1       5       0       0
      Wasted    82781  17449       0       0   34345    1476
CA    EC           18      0       2      34       1       0
      Wasted        0  39596       0       0   20810  147244
CO    EC            4      0       1       4       0       0
      Wasted        0  28917       0  103217   38437   27391
CT    EC            3      0       0       4       0       0
      Wasted        0   2108   48676       0   22841     508
DC    EC            0      0       0       3       0       0
      Wasted    12723      0    4906       0    4258    6551
DE    EC            1      0       0       2       0       0
      Wasted    37462    706   14757       0    6103     701
FL    EC           14      0       1      14       0       0
      Wasted    70281      0       0       0   64399   25736
GA    EC            8      0       1       7       0       0
      Wasted    31738  13017       0   77768    7674    1668
HI    EC            1      0       0       3       0       0
      Wasted    21613      0   15954       0   12737    4508
IA    EC            3      0       0       3       0       0
      Wasted    17968  12366   59186       0   11479   28348
ID    EC            3      0       0       1       0       0
      Wasted        0  46476   28331   17202    8496    8132
IL    EC            8      0       1      11       0       0
      Wasted        0  11655       0   45696   76802    1627
IN    EC            6      0       1       4       0       0
      Wasted    65491      0       0   38596    7841    2712
KS    EC            4      0       0       2       0       0
      Wasted        0   6520   55406   32205   23506     947
KY    EC            5      0       0       3       0       0
      Wasted      378  22780   53752       0   13913    1879
LA    EC            5      0       0       3       0       0
      Wasted        0   8547   37978   19267   14031    9684
MA    EC            4      0       0       7       0       0
      Wasted        0   2719  138018       0   47661   50559
MD    EC            4      0       0       6       0       0
      Wasted        0   9630   79605    9061   35945   35169
ME    EC            2      0       0       2       0       0
      Wasted        0   1887   38105       0   14251     356
MI    EC            8      0       1       7       0       0
      Wasted        0   8177       0  169153   51463   19126
MN    EC            5      0       0       5       0       0
      Wasted        0  53076  112972       0   36985   51113
MO    EC            6      0       0       4       0       0
      Wasted        0   7071   97359       0   25419   13177
MS    EC            4      0       0       2       0       0
      Wasted        0      0   14435   82012    3731    5346
MT    EC            2      0       0       1       0       0
      Wasted        0   2297   28037   11994    7970    1894
NC    EC            8      0       0       7       0       0
      Wasted        0      0  130126       0   12105   47386
ND    EC            2      0       0       1       0       0
      Wasted        0      0   21434       0    3780    8594
NE    EC            3      0       0       2       0       0
      Wasted        0      0   38946       0    8775   16051
NH    EC            2      0       0       2       0       0
      Wasted        0   1064   30777       0    6496   11643
NJ    EC            6      0       0       8       0       0
      Wasted        0      0   72477       0   37772   13586
NM    EC            2      0       1       2       0       0
      Wasted      340   5825       0   65907    9879    3173
NV    EC            3      0       0       3       0       0
      Wasted        0      0   37384       0       0   36683
NY    EC           11      0       1      17       0       0
      Wasted        0  10367       0   57794  107762    2440
OH    EC            9      0       1       8       0       0
      Wasted    92762  12574       0       0   46271   27975
OK    EC            5      0       0       2       0       0
      Wasted        0      0   83481    5235       0       0
OR    EC            3      0       0       4       0       0
      Wasted        0      0   94231       0   50002   72594
PA    EC           10      0       0      10       0       0
      Wasted        0      0  146715       0   49941   21572
RI    EC            2      0       0       2       0       0
      Wasted        0      0   14746   20453    6220   10110
SC    EC            5      0       0       4       0       0
      Wasted        0  21016   49204       0   13034    9011
SD    EC            2      0       0       1       0       0
      Wasted        0      0   20850       0       0    4064
TN    EC            7      0       0       4       0       0
      Wasted        0  11991   70397       0   15993   16026
TX    EC           20      0       1      17       0       0
      Wasted        0  42366   47460       0   71558    8895
UT    EC            3      1       0       2       0       0
      Wasted        0  55133   39608       0    9438   12701
VA    EC            6      0       0       7       0       0
      Wasted        0  54054  118274       0   27638   31870
VT    EC            1      0       0       2       0       0
      Wasted        0    629   10078       0    6758   23660
WA    EC            5      0       1       6       0       0
      Wasted        0      0       0  138111   58417   25453
WI    EC            5      0       0       5       0       0
      Wasted        0  11855  106674       0   31072   38729
WV    EC            4      0       0       1       0       0
      Wasted        0      0   23004   46184    8075    3807
WY    EC            2      0       0       1       0       0
      Wasted     3853      0   13287       0    2515    9655

Electoral College Tally:
DT    261
EM      1
GJ     14
HC    261
JS      1
O       0
dtype: int64
Total:538

Wasted popular votes:
DT     437390
EM     535123
GJ    2089651
HC     975480
JS    1199197
O      950261
dtype: int64
Total: 6187102