In [1]:
import pandas as pd
from bs4 import BeautifulSoup
import urllib
from collections import OrderedDict
from math import ceil, floor
from operator import itemgetter

## Scrape Wikipedia Page

Yes, I could have also scraped the number of electors per state from the election pages. I decided to type them in, instead.

In [2]:
# list of state abbreviations
states = ['AL','AK','AZ','AR','CA','CO','CT','DC','DE','FL',
          'GA','HI','ID','IL','IN','IA','KS','KY','LA','ME',
          'MD','MA','MI','MN','MS','MO','MT','NE','NV','NH',
          'NJ','NM','NY','NC','ND','OH','OK','OR','PA','RI',
          'SC','SD','TN','TX','UT','VT','VA','WA','WV','WI','WY', 'US']

def append_sum(ec):
    ec.append(sum(ec))

ec_votes_2000=[9,  3,  8,  6,  54, 8,  8,  3,  3,  25,
          13, 4,  4,  22, 12, 7,  6,  8,  9,  4,
          10, 12, 18, 10, 7,  11, 3,  5,  4,  4,
          15, 5,  33, 14, 3,  21, 8,  7,  23, 4,
          8,  3,  11, 32, 5,  3,  13, 11, 5,  11, 3]
append_sum(ec_votes_2000)
ec_votes_2004=[9,  3,  10, 6,  55, 9,  7,  3,  3,  27,
               15, 4,  4,  21, 11, 7,  6,  8,  9,  4,
               10, 12, 17, 10, 6,  11, 3,  5,  5,  4,
               15, 5,  31, 15, 3,  20, 7,  7,  21, 4,
               8,  3,  11, 34, 5,  3,  13, 11, 5,  10, 3]
append_sum(ec_votes_2004)
ec_votes_2012=[9,  3,  11, 6,  55, 9,  7,  3,  3,  29,
          16, 4,  4,  20, 11, 6,  6,  8,  8,  4,
          10, 11, 16, 10, 6,  10, 3,  5,  6,  4,
          14, 5,  29, 15, 3,  18, 7,  7,  20, 4,
          9,  3,  11, 38, 6,  3,  13, 12, 5,  10, 3]
append_sum(ec_votes_2012)
ec_votes = list(zip(ec_votes_2000, ec_votes_2004, ec_votes_2012))
ec_votes_dict = OrderedDict()
for i in range(len(states)):
    ec_votes_dict[states[i]] = ec_votes[i]
ec_votes = pd.DataFrame.from_dict(ec_votes_dict, orient='index')
ec_votes.rename(columns={0: '2000', 1: '2004', 2: '2012'}, inplace=True)
ec_votes['2016']=ec_votes['2012']
ec_votes['2008']=ec_votes['2004']
ec_votes = ec_votes.sort_index(axis=1)

In [3]:
ec_votes.tail()

    2000  2004  2008  2012  2016
WA    11    11    11    12    12
WV     5     5     5     5     5
WI    11    10    10    10    10
WY     3     3     3     3     3
US   538   538   538   538   538

In [4]:
def get_headings(head_row, num_candidates):
    """
    Parse the table header row for the candidate names.
    head_row - the header row element containing cells with the candidate names
    num_candidates - the number of candidate columns in the "Results_by_state" table, including "Other"
    returns: list of length num_candidates with the candidate names
    """
    headings = []
    for cell in head_row.find_all('th', attrs={'colspan': '3'}):
        children = list(cell.children)
        if len(children) == 3:
            headings.append((children[0].strip(), children[2].strip()))
        else:
            headings.append((children[0], None))
    headings = headings[:num_candidates]
    headings.append(('Total', None))
    return headings

In [5]:
def get_table_rows(year, num_candidates):
    """
    Scrape the U.S. Presidential election Wikipedia page for the results by state. header rows of the 

    year - string containing 4-digit election year
    num_candidates - the number of candidate columns in the "Results_by_state" table, including "Other"
    returns: a tuple; first element is a list of length num_candidates with the candidate names; second
             element is a list of the table row elements needing to be parsed for the vote counts
    """
    page = BeautifulSoup(urllib.request.urlopen(
            'https://en.wikipedia.org/wiki/United_States_presidential_election,_'+year).read(), "html.parser")
    header = page.find('span', id='Results_by_state').parent
    table_container = header.find_next_sibling('div')
    table = table_container.table
    if table is None:
        table_container = table_container.find_next_sibling('div')
        table = table_container.table
    head_row = table.find('tr')
    all_rows = list(table.find_all('tr'))
    vote_rows = all_rows[2:]
    return get_headings(head_row, num_candidates), vote_rows

In [6]:
def clean_and_convert(count_text):
    """
    Clean up vote count text, and return an actual number.
    count_text - the text from a vote count table cell
    returns: int representing number of votes (N/A or blank imply zero)
    """
    clean = count_text.strip().replace(',','').replace('.', '').replace('-','0').replace(
                'N/A', '0').replace('★', '').replace('–', '')
    return int(clean) if len(clean) else 0

In [7]:
def read_in_data(year, num_candidates, total_column):
    """
    Scrape the U.S. Presidential election Wikipedia for the given year. Requires a couple of numbers describing the
    shape of the table.

    year - string containing 4-digit election year
    num_candidates - the number of candidate columns in the "Results_by_state" table, including "Other"
    total_column - the column number that contains the total votes for each state/district, counting from zero
    returns: a Pandas DataFrame, indexed by state/district, with columns for each candidate, total vote, and
             state total electoral college votes
    """
    headings, vote_rows = get_table_rows(year, num_candidates)
    data = OrderedDict()
    columns_with_vote_counts = list(range(2, 3*num_candidates, 3))
    columns_with_vote_counts.append(total_column)
    abbr_column = total_column + 1
    vote_rows = list(zip(vote_rows, ['td'] * len(vote_rows)))
    vote_rows[-1] = (vote_rows[-1][0], 'th') # last row uses <th> instead of <td>
    for row, cell_type in vote_rows:
        cells = list(row.find_all(cell_type))
        abbr = cells[abbr_column].string.strip()
        if len(abbr)==2 or len(abbr)==6:
            abbr = abbr[:2]
            data[abbr] = [clean_and_convert(cells[i].text) for i in columns_with_vote_counts]
    abbreviations  = []
    for h in headings:
        abbreviations.append(''.join([s[0] for s in h[0].split()]))
    vote_data = pd.DataFrame.from_dict(data, orient='index')
    vote_data.columns=abbreviations
    vote_data['E'] = ec_votes[year]
    return vote_data

In [8]:
vote_data_2000 = read_in_data('2000', 8, 28)

In [9]:
vote_data_2004 = read_in_data('2004', 7, 25)

In [10]:
vote_data_2008 = read_in_data('2008', 7, 25)

In [11]:
vote_data_2012 = read_in_data('2012', 5, 19)

In [12]:
vote_data_2016 = read_in_data('2016', 6, 20)

In [13]:
vote_data_2000.tail()

,GWB,AG,RN,PB,HB,HP,JH,O,T,E
WA,1108864,1247652,103002,7171,13135,1989,2927,2693,2487433,11
WV,336475,295497,10680,3169,1912,23,367,1,648124,5
WI,1237279,1242987,94070,11471,6640,2042,853,3265,2598607,11
WY,147947,60481,4625,2724,1443,720,411,0,218351,3
US,50456002,50999897,2882955,448895,384431,98020,83714,51186,105405100,538

In [14]:
vote_data_2004.tail()

         GWB        JK      RN      MB      MP      DC      O          T    E
WA   1304894   1510201   23283   11955    3922    2974   1855    2859084   11
WV    423778    326541    4063    1405      82       5     13     755887    5
WI   1478120   1489504   16390    6464       0    2661   3868    2997007   10
WY    167629     70776    2741    1171     631       0    480     243428    3
US  62040610  59028444  465151  397265  143630  119859  99887  122294846  538

In [15]:
vote_data_2008.tail()

          BO        JM      RN      BB      CB      CM       O          T    E
WA   1750848   1229216   29489   12728    9432    3819    1346    3036878   11
WV    303857    397466    7219       0    2465    2355      89     713451    5
WI   1677211   1262393   17605    8858    5072    4216    8062    2983417   10
WY     82868    164958    2525    1594    1192       0    1521     254658    3
US  69498516  59948323  739034  523715  199750  161797  242685  131313820  538

In [16]:
vote_data_2012.tail()

          BO        MR       GJ      JS       O          T    E
WA   1755396   1290670    42202   20928   16320    3125516   12
WV    238269    417655     6302    4406    3806     670438    5
WI   1620985   1407966    20439    7665   11379    3068434   10
WY     69286    170962     5326       0    3487     249061    3
US  65915795  60933504  1275971  469627  490512  129085409  538

In [17]:
vote_data_2016.tail()

          HC        DT       GJ       JS      EM        O          T    E
WA   1742718   1221747   160879    58417       0    25453    3209214   12
WV    188794    489371    23004     8075       0     3807     713051    5
WI   1382536   1405284   106674    31072   11855    38729    2976150   10
WY     55973    174419    13287     2515       0     9655     255849    3
US  65853625  62985105  4489233  1457222  728860  1579672  137098443  538

## Export data

In [18]:
def export_data(year, df):
    filename = 'state-vote-data-{}.csv'.format(year)
    df.to_csv(filename, sep=',')
    
export_data('2000', vote_data_2000)
export_data('2004', vote_data_2000)
export_data('2008', vote_data_2000)
export_data('2012', vote_data_2012)
export_data('2016', vote_data_2016)

In [19]:
def calculate_fair_efficient_ec_votes(df):
    """
    Compute DataFrame instances representing fair and efficient allocation of Electoral College votes, and the
    number of wasted popular votes if fair and efficient allocation is used.

    df - a Pandas DataFrame, indexed by state/district, with columns for each candidate, total vote, and
         state total electoral college votes
    returns: a tuple containing two DataFrames indexed by state/district with candidate columns; first DataFrame
             gives Electoral College allocations ; second DataFrame gives wasted popular votes, i.e., votes that
             didn't end up counting towards an Elector
    """
    ec_votes = OrderedDict()
    wasted = OrderedDict()
    for i in range(51):
        st = df.iloc[i]
        c = OrderedDict(st.loc[:'O'])
        e = OrderedDict()
        r = {}
        E = st.loc['E']
        V = st.loc['T']
        if V == 0:
            V = sum(list(st)[:6])
        for candidate, pop_votes in c.items():
            e[candidate] = floor(E * pop_votes / V)
            r[candidate] = ceil(pop_votes - V * e[candidate] / E)
        r = OrderedDict(sorted(r.items(), key=itemgetter(1), reverse=True))
        remainder = E - sum(e.values())
        for candidate in r.keys():
            if candidate != 'O': # not mappable to a single candidate
                e[candidate] += 1
                remainder -= 1
                r[candidate] = 0
                if remainder == 0:
                    break
        ec_votes[st.name] = e
        wasted[st.name] = r
    ec_votes = pd.DataFrame.from_dict(ec_votes, orient='index')
    wasted = pd.DataFrame.from_dict(wasted, orient='index')
    return ec_votes, wasted

In [20]:
def print_fair_ec_vote_summary(year, df, show_state_data=False):
    """
    Print a useful summary of the calculations. By default, suppresses outputing the full dataset.

    year - string containing 4-digit election year
    df - a Pandas DataFrame, indexed by state/district, with columns for each candidate, total vote, and
         state total electoral college votes
    show_state_data - whether to show the full computed results by state/district; defaults to False
    """
    print(year)
    print('====')
    ec_votes, wasted = calculate_fair_efficient_ec_votes(df)
    if show_state_data:
        print('Electoral College Votes by State:\n{}\n'.format(ec_votes))
        print('Wasted Popular Votes by State:\n{}\n'.format(wasted))
    ecsum = ec_votes.sum()
    print('Electoral College Tally:\n{}\nTotal:{}\n'.format(ecsum, ecsum.sum()))
    wsum = wasted.sum()
    print('Wasted popular votes:\n{}\nTotal: {}'.format(wsum, wsum.sum()))
    print('')
    print()
    
print_fair_ec_vote_summary('2000', vote_data_2000, show_state_data=True)

2000
====
Electoral College Votes by State:
    GWB  AG  RN  PB  HB  HP  JH  O
AK    2   1   0   0   0   0   0  0
AL    5   4   0   0   0   0   0  0
AR    3   3   0   0   0   0   0  0
AZ    4   4   0   0   0   0   0  0
CA   23  29   2   0   0   0   0  0
CO    4   3   1   0   0   0   0  0
CT    3   5   0   0   0   0   0  0
DC    0   3   0   0   0   0   0  0
DE    1   2   0   0   0   0   0  0
FL   12  12   1   0   0   0   0  0
GA    7   6   0   0   0   0   0  0
HI    2   2   0   0   0   0   0  0
IA    3   4   0   0   0   0   0  0
ID    3   1   0   0   0   0   0  0
IL    9  12   1   0   0   0   0  0
IN    7   5   0   0   0   0   0  0
KS    4   2   0   0   0   0   0  0
KY    5   3   0   0   0   0   0  0
LA    5   4   0   0   0   0   0  0
MA    4   7   1   0   0   0   0  0
MD    4   6   0   0   0   0   0  0
ME    2   2   0   0   0   0   0  0
MI    8   9   1   0   0   0   0  0
MN    5   5   0   0   0   0   0  0
MO    6   5   0   0   0   0   0  0
MS    4   3   0   0   0   0   0  0
MT    2   1   0   0   0   0   0  0
NC    8   6   0   0   0   0   0  0
ND    2   1   0   0   0   0   0  0
NE    3   2   0   0   0   0   0  0
NH    2   2   0   0   0   0   0  0
NJ    6   8   1   0   0   0   0  0
NM    2   3   0   0   0   0   0  0
NV    2   2   0   0   0   0   0  0
NY   12  20   1   0   0   0   0  0
OH   10  10   1   0   0   0   0  0
OK    5   3   0   0   0   0   0  0
OR    3   3   1   0   0   0   0  0
PA   11  12   0   0   0   0   0  0
RI    1   3   0   0   0   0   0  0
SC    5   3   0   0   0   0   0  0
SD    2   1   0   0   0   0   0  0
TN    6   5   0   0   0   0   0  0
TX   19  12   1   0   0   0   0  0
UT    4   1   0   0   0   0   0  0
VA    7   6   0   0   0   0   0  0
VT    1   2   0   0   0   0   0  0
WA    5   6   0   0   0   0   0  0
WI    5   5   1   0   0   0   0  0
WV    3   2   0   0   0   0   0  0
WY    2   1   0   0   0   0   0  0

Wasted Popular Votes by State:
       AG      RN     GWB     PB     HB     HP     O     JH
AK      0   28747       0   5192   2636    596  1068    919
AL      0   18323   15467   6351   5893    775   699    447
AR      0   13421   12050   7358   2781   1415     0   1098
AZ      0   45645   15644  12373      0    110  5775   1120
CA      0   12565       0  44987  45520  17042    34  10934
CO  85214       0   13064  10465  12799   1319  1136   2240
CT      0   64452   13773   4731   3484   9695    14     40
DC      0   10576   18073      0    669      0   653      0
DE      0    8307   28081    777    774    208    93    107
FL  49961       0   50498  17484  16415   1371  3028   2281
GA      0   13432   21441  10926  36332    140    24      0
HI  21311   21623       0   1071   1477    343     0    306
IA      0   29374   70561   5731   3209    613  1465   2281
ID  13232   12292       0   7615   3488   1469     6   1177
IL   2414       0   79462  16106  11623     57     4   2127
IN      0   18531       0  16959  15530    200    99    167
KS  41870   36086       0   7370   4525   1254     0   1375
KY  59828   23192       0   4173   2896    923    80   1533
LA   7608   20473       0  14356   2951   5483  1103   1075
MA  39747       0       0  11149  16366      0  4032   2884
MD      0   53768    3605   4248   5310    919  1480    176
ME      0   37127       0   4443   3074    579    27      0
MI  54168       0   72028   1851  16711   3791     0   2426
MN      0  126696       0  22166   5282   3272  1050   2294
MO  38460   38515       0   9818   7436   1957     0   1104
MS      0    8122    4739   2265   2009   3267   613    450
MT    127   24437       0   5697   1718   1155    11    675
NC  10009       0       0   8874  12307      0  1226      0
ND      0    9486       0   7288    660    373     0    313
NE      0   24540   15651   3646   2245    468     0    478
NH      0   22198       0   2615   2757    328  1221     55
NJ  88997       0    9283   6989   6312   1409  2724   2215
NM      0   21251   46975   1392   2058    343     0    361
NV      0   15008       0   4747   3311    621  3315    415
NY      0   37303       0  31599   7649   1498  1791  24361
OH      0       0  110516  26724  13475   3823    10   6169
OK  11441       0       0   9014   6602      0     0      0
OR  62928       0   56163   7063   7447   2189  3419   2574
PA      0  103392       0  16023  11248  14428   934      0
RI      0   25052   28277   2273    742     97   614    271
SC  47043   20200       0   3519   4876   1682     0    942
SD  13381       0       0   3322   1662   1781     0      0
TN  38002   19781       0   4250   4284   1015  2569    613
TX  30883       0       0  12394  23160    567   137      0
UT  48903   35850       0   9319   3616   2709   348    763
VA      0   59398       0   5455  15198   1809  2636    171
VT      0   20374   21673   2192    784    153  1789    219
WA      0  103002       0   7171  13135   1989  2693   2927
WI  61802       0   56094  11471   6640   2042  3265    853
WV  36248   10680       0   3169   1912     23     1    367
WY      0    4625    2380   2724   1443    720     0    411

Electoral College Tally:
GWB    263
AG     262
RN      13
PB       0
HB       0
HP       0
JH       0
O        0
dtype: int64
Total:538

Wasted popular votes:
AG      863577
RN     1197844
GWB     765498
PB      448895
HB      384431
HP       98020
O        51186
JH       83714
dtype: int64
Total: 3893165

In [21]:
print_fair_ec_vote_summary('2004', vote_data_2004)

2004
====
Electoral College Tally:
GWB    280
JK     258
RN       0
MB       0
MP       0
DC       0
O        0
dtype: int64
Total:538

Wasted popular votes:
GWB     858574
JK     1175528
RN      465151
MB      397265
MP      143630
O        99887
DC      119859
dtype: int64
Total: 3259894

In [22]:
print_fair_ec_vote_summary('2008', vote_data_2008)

2008
====
Electoral College Tally:
BO    289
JM    248
RN      1
BB      0
CB      0
CM      0
O       0
dtype: int64
Total:538

Wasted popular votes:
BO     979528
JM    1473774
RN     630653
BB     523715
CB     199750
O      242685
CM     161797
dtype: int64
Total: 4211902

In [23]:
print_fair_ec_vote_summary('2012', vote_data_2012)

2012
====
Electoral College Tally:
BO    276
MR    261
GJ      1
JS      0
O       0
dtype: int64
Total:538

Wasted popular votes:
BO    1044675
MR     906515
GJ    1132750
O      490512
JS     469627
dtype: int64
Total: 4044079

In [24]:
print_fair_ec_vote_summary('2016', vote_data_2016, show_state_data=True)

2016
====
Electoral College Votes by State:
    HC  DT  GJ  JS  EM  O
AK   1   2   0   0   0  0
AL   3   6   0   0   0  0
AR   2   4   0   0   0  0
AZ   5   5   1   0   0  0
CA  34  18   2   1   0  0
CO   4   4   1   0   0  0
CT   4   3   0   0   0  0
DC   3   0   0   0   0  0
DE   2   1   0   0   0  0
FL  14  14   1   0   0  0
GA   7   8   1   0   0  0
HI   3   1   0   0   0  0
IA   3   3   0   0   0  0
ID   1   3   0   0   0  0
IL  11   8   1   0   0  0
IN   4   6   1   0   0  0
KS   2   4   0   0   0  0
KY   3   5   0   0   0  0
LA   3   5   0   0   0  0
MA   7   4   0   0   0  0
MD   6   4   0   0   0  0
ME   2   2   0   0   0  0
MI   7   8   1   0   0  0
MN   5   5   0   0   0  0
MO   4   6   0   0   0  0
MS   2   4   0   0   0  0
MT   1   2   0   0   0  0
NC   7   8   0   0   0  0
ND   1   2   0   0   0  0
NE   2   3   0   0   0  0
NH   2   2   0   0   0  0
NJ   8   6   0   0   0  0
NM   2   2   1   0   0  0
NV   3   3   0   0   0  0
NY  17  11   1   0   0  0
OH   8   9   1   0   0  0
OK   2   5   0   0   0  0
OR   4   3   0   0   0  0
PA  10  10   0   0   0  0
RI   2   2   0   0   0  0
SC   4   5   0   0   0  0
SD   1   2   0   0   0  0
TN   4   7   0   0   0  0
TX  17  20   1   0   0  0
UT   2   3   0   0   1  0
VA   7   6   0   0   0  0
VT   2   1   0   0   0  0
WA   6   5   1   0   0  0
WI   5   5   0   0   0  0
WV   1   4   0   0   0  0
WY   1   2   0   0   0  0

Wasted Popular Votes by State:
       DT      GJ      HC       O      JS     EM
AK      0   18725   10252   14307    5735      0
AL      0   44467   21757   21712    9391      0
AR      0   29829    3616   12712    9473  13255
AZ  82781       0       0    1476   34345  17449
CA      0       0       0  147244   20810  39596
CO      0       0  103217   27391   38437  28917
CT      0   48676       0     508   22841   2108
DC  12723    4906       0    6551    4258      0
DE  37462   14757       0     701    6103    706
FL  70281       0       0   25736   64399      0
GA  31738       0   77768    1668    7674  13017
HI  21613   15954       0    4508   12737      0
IA  17968   59186       0   28348   11479  12366
ID      0   28331   17202    8132    8496  46476
IL      0       0   45696    1627   76802  11655
IN  65491       0   38596    2712    7841      0
KS      0   55406   32205     947   23506   6520
KY    378   53752       0    1879   13913  22780
LA      0   37978   19267    9684   14031   8547
MA      0  138018       0   50559   47661   2719
MD      0   79605    9061   35169   35945   9630
ME      0   38105       0     356   14251   1887
MI      0       0  169153   19126   51463   8177
MN      0  112972       0   51113   36985  53076
MO      0   97359       0   13177   25419   7071
MS      0   14435   82012    5346    3731      0
MT      0   28037   11994    1894    7970   2297
NC      0  130126       0   47386   12105      0
ND      0   21434       0    8594    3780      0
NE      0   38946       0   16051    8775      0
NH      0   30777       0   11643    6496   1064
NJ      0   72477       0   13586   37772      0
NM    340       0   65907    3173    9879   5825
NV      0   37384       0   36683       0      0
NY      0       0   57794    2440  107762  10367
OH  92762       0       0   27975   46271  12574
OK      0   83481    5235       0       0      0
OR      0   94231       0   72594   50002      0
PA      0  146715       0   21572   49941      0
RI      0   14746   20453   10110    6220      0
SC      0   49204       0    9011   13034  21016
SD      0   20850       0    4064       0      0
TN      0   70397       0   16026   15993  11991
TX      0   47460       0    8895   71558  42366
UT      0   39608       0   12701    9438  55133
VA      0  118274       0   31870   27638  54054
VT      0   10078       0   23660    6758    629
WA      0       0  138111   25453   58417      0
WI      0  106674       0   38729   31072  11855
WV      0   23004   46184    3807    8075      0
WY   3853   13287       0    9655    2515      0

Electoral College Tally:
HC    261
DT    261
GJ     14
JS      1
EM      1
O       0
dtype: int64
Total:538

Wasted popular votes:
DT     437390
GJ    2089651
HC     975480
O      950261
JS    1199197
EM     535123
dtype: int64
Total: 6187102